.hero-wrapper {
    padding: 15px 0 116px 85px;
    background-image: url(../../images/bgimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%}
.hero {
    width: 525px;
    padding-top: 64px;
}
.hero__title {
    margin-bottom: 32px;
    color: #fefcf7;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}
.hero__text-wrapper {
    width: 417px;
    margin-bottom: 56px;
}
.hero__text {
    color: #fefcf7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: .8;
}
.hero__link {
    padding: 15px 2px 16px;
    text-align: center;
    display: inline-block;
    width: 217px;
    border-radius: 6px;
    background: #0e8784;
    color: #fefcf7;
    text-align: center;
    font-family: Fraunces serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    transition: background-color .5s linear;
}
.hero__link:hover {
    border-radius: 6px;
    background: #66d2cf;
}

@media only screen and (max-width: 900px){
.hero-wrapper{
    padding: 25px 0 40px 34px;
}
.hero__title{
    color: #FEFCF7;

    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 100% */
}
}
